*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../img/fondo.jpg);
    background-attachment: fixed;
    /* Imagen fija */
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

header{
    background: rgb(58, 45, 55, 0.856);
    width: 100%;
    /* Del contenedor */
    padding: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

header .logo{
    font-size: 30px;
    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header .logo img{
    width: 80px;
}

.marca{
    text-decoration: none;
    color: #ffff;
}


header nav{
    width: 50%;

    display: flex;
    flex-wrap: wrap;
    /* Si no da espacio, de un salto de linea */
    align-items: center;
}

header nav a{
    color: #ffff;
    text-align: center;
    text-decoration: none;
    padding: 20px;  
    border-radius: 8px;
}

header nav a:hover{
    background: rgba(37, 29, 36, 0.856);
}

main {
    background: rgba(153, 119, 145, 0.445);
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 70%;
    /* flex: 1 1 70%; atajo */
}

main article {
   margin-bottom: 20px;
   padding-bottom: 20px;
   border-bottom: 1px solid black; 
}

aside {
    background-color:rgba(42, 21, 61, 0.781);
    padding: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    flex: 0 0 30%;
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%; */

}

aside .widget{
    background-color:rgba(42, 21, 61, 0.493);
    height: 150px;
    margin: 10px;
}


footer{
    background: rgb(58, 45, 55, 0.856);
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content:space-between;

    font-family: 'Roboto', sans-serif;
}


footer .link a{
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align:center;
    border-radius: 8px;
}

footer .link a:hover{
    background: rgba(37, 29, 36, 0.856);
}

footer .social a{
    padding: 10px;
}


footer .social a img{
    width: 35px;
}

@media screen and (max-width: 600px){
    .contenedor{
        flex-direction: column;
    }

    header{
        flex-direction: column;
    }

    header .logo {
        flex-direction: column;
    }

    header nav{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    aside{
        flex-direction: column;
    }

    aside .widget{
        flex-grow: 1;
    }
}



@media screen and (max-width: 640px){
    aside{
        flex-direction: column;
    }

    footer{
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}


/* @media all and (max-width: 800px){
    header nav{
        flex-direction: row;
        flex-wrap: nowrap;
    }
} */


/* .contenedor{
    width:90%;
    max-width: 1000px;
    border: 3px solid teal;
    height: 500px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    Horizontal 
    align-items: center;
     Vertical 
}

.item{
    width: 200px;
    height: 50px;
    color: #ffff;
    background: turquoise;
    margin: 10px;

}

.otro */